[Unit]
Description={{serviceDescription}}
After={{after}}

[Service]
Type=forking
PIDFile={{AppRoot}}/{{serviceName}}.pid
ExecStart={{AppRoot}}/svc.sh doStart
WorkingDirectory={{AppRoot}}
TimeoutStopSec=5min

[Install]
WantedBy={{wantedBy}}