[Unit]
Description={{serviceDescription}}
After=network.target

[Service]
Type=forking
PIDFile={{AppRoot}}/{{serviceName}}.pid
ExecStart={{AppRoot}}/svc.sh doStart
WorkingDirectory={{AppRoot}}
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target