[Unit]
Description=${serviceDescription}
After=${after}

[Service]
Type=forking
PIDFile={{AppRoot}}/${serviceName}.pid
ExecStart={{AppRoot}}/svc.sh doStart
WorkingDirectory={{AppRoot}}
TimeoutStopSec=5min
<% if(has(environment)) {%>
Environment=${environment}
<%}%>
<% if(has(restart)) {%>
Restart=${restart}
RestartSec=5
<%}%>

[Install]
WantedBy=${wantedBy}